{% extends 'base.html.twig' %}

{% block title 'Tendances' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('skin/frontend/default/o2v2/css/mag.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('skin/frontend/default/o2v2/css/mag-style.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('skin/frontend/default/o2v2/js/mag/action.js')}}">
    </script>
{% endblock %}

{% block body %}

<div itemprop="mainContentOfPage" id="content" class="col1-layout">

    <div id="content-header"></div>

    <div class="mainContent marieLouise">
        <div class="Mag">
            <div id="mag_header">
                
                <div class="mag_logo">
                    <h1> Le Mag </h1>
                </div>
                <div class="mag_social">
                    <a class="facebook" href="https://www.facebook.com">
                        <img src="https://www.optic2000.com/skin/frontend/default/o2v2/images/mag/facebook.png">
                    </a>
                    <a class="instagram" href="http://instagram.com">
                        <img src="https://www.optic2000.com/skin/frontend/default/o2v2/images/mag/instagram.png">
                    </a>
                    <a class="twitter" href="https://twitter.com">
                        <img src="https://www.optic2000.com/skin/frontend/default/o2v2/images/mag/twitter.png">
                    </a>
                </div>
            </div>
            <div id="mag_body">

                <div class="mag_simple">
                    <div class="">
                        <div id="article_282" data-rel="article_content_282" class="mag_large ">
                            <div class="zoom_mag">
                                <div class="mag_l">
                                    <img src="https://www.optic2000.com/media/magazine/HP_EDITO.jpg" alt="CE MOIS-CI" height="313">
                                </div>
                                <div class="mag_r">
                                    <div class="aw_mag" style="border-right: 50px solid #d4cdbb;">
                                        &nbsp;
                                    </div>
                                    <div class="content_mag" style="background-color: #d4cdbb">
                                        <div class="cat">CE MOIS-CI</div>
                                        <h2>CE MOIS-CI</h2>
                                        <h3></h3>
                                        <div class="txt-content">
                                            Toutes les tendances lunettes sont sur Le Mag. Découvrez dans notre blog les actualités sur vos lunettes de vue, solaires et lentilles pour être toujours tendance. Cette saison, votre dressing va en voir de toutes les couleurs, pour votre plus grand plaisir, avec les couleurs pop ! </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mag_simple">
                    <div class="">
                        <div id="article_283" data-rel="article_content_283" class="mag_large mag_action">
                            <div class="zoom_mag">
                                <div class="mag_l">
                                    <img src="https://www.optic2000.com/media/magazine/HP-Tendance.jpg" alt="Couleurs pop" height="313">
                                </div>
                                <div class="mag_r">
                                    <div class="aw_mag" style="border-right: 50px solid #ffffff;">
                                        &nbsp;
                                    </div>
                                    <div class="content_mag" style="background-color: #ffffff">
                                        <div class="cat">Tendance</div>
                                        <h2>Couleurs pop</h2>
                                        <h3></h3>
                                        <div class="txt-content">
                                            Si vous voulez booster votre énergie positive et égayer vos journées les plus grises, c’est la mode à adopter!
                                            <div class="mag_readmore" onclick="">
                                                Lire l’article
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="article_content_283" class="mag_article" style="background-color: #ffffff">
                    <div class="mag_close">
                        ╳
                    </div>
                    <div class="txt-content">
                        <p><span style="font-size: small;">Le temps où les coloris flashy ne se portaient qu’en été est révolu. Avez-vous remarqué comme cet <strong>Automne-Hiver 2020</strong> est acidulé et vitaminé&nbsp;? Quelle que soit la couleur du ciel, cette tendance joyeuse et pleine d’énergie illumine toutes vos journées.</span></p>
                        <p><span style="font-size: small;">C’est un véritable <strong>arc en ciel vitaminé</strong> qui s’offre tous les adeptes des couleurs vives : jaune poussin, bleu pétrole, vert émeraude ou encore rose shocking<sup>1</sup>. Vous retrouvez cette palette lumineuse sur toutes les pièces de prêt-à-porter et sur tous les accessoires, chaussures, sacs à main… et bien sûr vos lunettes.</span></p>
                        <p><span style="font-size: small;"><strong>Mix &amp; match</strong><sup>2</sup> audacieux ou simple petite touche&nbsp;colorée ? Même avec un simple accessoire, ces teintes vives réchauffent à coup sûr vos looks de la saison automne-hiver.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-size: x-small;"><br></span></p>
                        <p style="text-align: center;"><em>SONIA RYKIEL SR7364</em></p>
                        <a title="Sonia Rykiel SR7364" target="_self">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/SONIARYKIEL_SR7364-O_1.png" alt="Sonia Rykiel SR7364" title="Sonia Rykiel SR7364" style="vertical-align: middle;"></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><em>Drew.S DSF1914</em></p>
                        <a title="Drew.S DSF1914" target="_self">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/DREWS_DSF1914-O-BLEU.png" alt="Drew.S DSF1914" title="Drew.S DSF1914" style="vertical-align: middle;"></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><em>GUESS GU2706V</em></p>
                        <a title="GUESS GU2706V" target="_self">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/GUESS_GU2706V.png" alt="GUESS GU2706V " title="GUESS GU2706V " style="vertical-align: middle;"></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><em>DREW.S DSF1902</em></p>
                        <a title="DREW.S DSF1902" target="_self">
                            <p style="text-align: center;"><em><img src="https://www.optic2000.com/media/wysiwyg/Mag/DREWS_DSF1902-O-ROUGE.png" alt="DREW.S DSF1902" title="DREW.S DSF1902" style="vertical-align: middle;"></em></p>
                        </a>
                        <a title="GUESS GU2706V" target="_self">
                            <p style="text-align: center;"></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><em>PAUL&amp;JOE JAVA01</em></p>
                        <a title="PAUL&amp;JOE JAVA01" target="_self">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/PAULJOE_JAVA01.png" alt="PAUL&amp;JOE JAVA01" title="PAUL&amp;JOE JAVA01" style="vertical-align: middle;"></p>
                        </a>
                        <a title="GUESS GU2706V" target="_self">
                            <p style="text-align: center;"></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;"><a title="Je craque pour cette monture !" target="_blank" style="background: #97a0cd; color: #fff; border: 15px solid #97a0cd;">Je craque pour cette monture !</a></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><em>DREW.S DSF1906</em></p>
                        <a title="DREW.S DSF1906" target="_self">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/DREWS_DSF1906-O-ROSE.png" alt="DREW.S DSF1906" title="DREW.S DSF1906" style="vertical-align: middle;"></p>
                        </a>
                        <a title="GUESS GU2706V" target="_self">
                            <p style="text-align: center;"></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><em>ELITE EYEWEAR ELT1911</em></p>
                        <a title="ELITE EYEWEAR ELT1911 " target="_self">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/ELITEEYEWEAR_ELT1911-O-BLEU.png" alt="ELITE EYEWEAR ELT1911 " title="ELITE EYEWEAR ELT1911 " style="vertical-align: middle;"></p>
                        </a>
                        <a title="GUESS GU2706V" target="_self">
                            <p style="text-align: center;"></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                            <a style="background: #F9BA05; color: #fff; border: 15px solid #F9BA05;" title="Découvrez toutes nos nouveautés de lunettes pour les femmes ici" target="_blank">Découvrez toutes nos nouveautés de lunettes pour femmes ici</a></span></p>
                    </div>
                </div>

                <div class="mag_simple">
                    <div class="">
                        <div id="article_284" data-rel="article_content_284" class="mag_large mag_action">
                            <div class="zoom_mag">
                                <div class="mag_l">
                                    <img src="https://www.optic2000.com/media/magazine/ELITE_HP.png" alt="Allure éclatante" height="313">
                                </div>
                                <div class="mag_r">
                                    <div class="aw_mag" style="border-right: 50px solid #e3e0db;">
                                        &nbsp;
                                    </div>
                                    <div class="content_mag" style="background-color: #e3e0db">
                                        <div class="cat">Coup de coeur</div>
                                        <h2>Allure éclatante</h2>
                                        <h3></h3>
                                        <div class="txt-content">
                                            Voici deux montures colorées pour en mettre plein les yeux. Vous aussi, osez les couleurs pop !
                                            <div class="mag_readmore">
                                                Lire l’article
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="article_content_284" class="mag_article" style="background-color: #e3e0db">
                    <div class="mag_close">
                        ╳
                    </div>
                    <div class="txt-content">
                        <p style="text-align: center;"><span style="font-size: small;"><strong>ELITE EYEWEAR ELT 1917</strong></span></p>
                        <a title="ELITE EYEWEAR ELT1917">
                            <p style="text-align: center;"><strong><img src="https://www.optic2000.com/media/wysiwyg/Mag/ELITEOPTIQUE_ELT1917-O-ROUGE.png" alt="ELITE EYEWEAR ELT1917" title="ELITE EYEWEAR ELT1917" style="vertical-align: middle;"></strong></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;">
                            <strong>Finesse bleutée</strong></span>
                        </p>
                        <p style="text-align: center;"><span style="font-size: medium;">Une monture géométrique et colorée pour un regard intense.</span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: small;">
                            <strong>ELITE EYEWEAR ELT 1919</strong></span>
                        </p>
                        <a  title="ELITE EYEWEAR ELT1919">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/ELITEOPTIQUE_ELT1919-O-BLEU.png" alt="ELITE EYEWEAR ELT 1919" title="ELITE EYEWEAR ELT 1919" style="vertical-align: middle;"></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;"><strong>Courbes lumineuses</strong></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;">Ces lunettes sont idéales pour donner du peps à votre tenue.</span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                    </div>
                </div>

                <div class="mag_simple">
                    <div class="">
                        <div id="article_285" data-rel="article_content_285" class="mag_large mag_action">
                            <div class="zoom_mag">
                                <div class="mag_l">
                                    <img src="https://www.optic2000.com/media/magazine/LOGO_HP.png" alt="MEDLEY, Un style affirmé" height="313">
                                </div>
                                <div class="mag_r">
                                    <div class="aw_mag" style="border-right: 50px solid #ffffff;">
                                        &nbsp;
                                    </div>
                                    <div class="content_mag" style="background-color: #ffffff">
                                        <div class="cat">Collection</div>
                                        <h2>MEDLEY, Un style affirmé</h2>
                                        <h3></h3>
                                        <div class="txt-content">
                                            Un design épuré, des formes et des couleurs tendances, le tout à un prix très accessible. Découvrez vite la collection Medley pour hommes et femmes et notre sélection de montures aux couleurs éclatantes.
                                            <div class="mag_readmore" onclick="">
                                                Lire l’article
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="article_content_285" class="mag_article" style="background-color: #ffffff">
                    <div class="mag_close">
                        ╳
                    </div>
                    <div class="txt-content">
                        <p style="text-align: left;"><span style="font-size: small;">La collection MEDLEY suit les grandes tendances de la saison. Elle se compose de 32 modèles optiques, et de 16 modèles solaires.</span></p>
                        <p style="text-align: left;"><span style="font-size: small;"><br></span></p>
                        <p><span style="text-decoration: underline; font-size: medium;"><b>MEDLEY OPTIQUE</b></span></p>
                        <p><span style="font-size: small;">Les femmes seront séduites par les formes hautes et les plaques colorées d’acétate aux finitions translucides. La marque propose aussi des modèles métal aux formes très modernes, ou encore des montures en combinaison de matières (métal/acétate).&nbsp; Chez les hommes, nous trouverons des modèles faciles à porter, alliant sobriété et créativité. Les lunettes en acétate jouent sur les effets de matières et les collages translucides colorés. Les modèles en métal sont quant à eux travaillés avec un aspect «brossé » pour un look brut qui s’inscrit dans l’air du temps.</span></p>
                        <p><span style="font-size: small;"><br></span></p>
                        <p><span style="text-decoration: underline; font-size: medium;"><b>MEDLEY SOLAIRE</b></span></p>
                        <p><span style="font-size: small;">Modernité, style, et large choix!&nbsp; Pour donner du peps à tous ceux qui veulent affirmer leur personnalité, Medley propose une collection de lunettes polarisantes qui s’inspire des tendances et des formes actuelles : ovales, pantos ou encore pilotes revisitées, déclinées en plusieurs coloris.</span></p>
                        <p><span style="font-size: small;"><br></span></p>
                        <p><span style="font-size: small;">Retrouvez notre sélection<b>&nbsp;MEDLEY OPTIQUE</b>&nbsp;dans la tendance&nbsp;<b>COULEURS POP.</b></span></p>
                        <p style="text-align: center;"><em><br></em></p>
                        <p style="text-align: center;"><em><br></em></p>
                        <p style="text-align: center;"><em>MEDLEY MF1917</em></p>
                        <a title="MEDLEY MF1917" target="_self">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/MEDLEY_MF1917-O-ROUGE_1.png" alt="MEDLEY MF1917" title="MEDLEY MF1917" style="vertical-align: middle;"></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;">
                            <a title="Je craque pour cette monture !" target="_blank" style="background: #97a0cd; color: #fff; border: 15px solid #97a0cd;">Je craque pour cette monture !
                            </a></span>
                        </p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><em>MEDLEY MF1910</em></p>
                        <a title="MEDLEY MF1910" target="_self">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/MEDLEY_MF1910-O-BLEU_1.png" alt="MEDLEY MF1910" title="MEDLEY MF1910" style="vertical-align: middle;"></p>
                        </a>
                        
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><em>MEDLEY MF1906</em></p>
                        <a title="MEDLEY MF1906" target="_self">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/MEDLEY_MF1906-O-ROSE_2.png" alt="MEDLEY MF1906" title="MEDLEY MF1906" style="vertical-align: middle;"></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><em>MEDLEY MF1904</em></p>
                        <a title="MEDLEY MF1904" target="_self">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/MEDLEY_MF1904-O-VERT.png" alt="MEDLEY MF1904" title="MEDLEY MF1904" style="vertical-align: middle;"></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;">
                            <a title="Je craque pour cette monture !" target="_blank" style="background: #97a0cd; color: #fff; border: 15px solid #97a0cd;">Je craque pour cette monture !
                            </a></span>
                        </p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><em>MEDLEY MF1902</em></p>
                        <a title="MEDLEY MF1902" target="_self">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/MEDLEY_MF1902-O-BLEU.png" alt="MEDLEY MF1902 " title="MEDLEY MF1902 " style="vertical-align: middle;"></p>
                        </a>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;"><br></span></p>
                        <p style="text-align: center;"><em>MEDLEY S1903</em></p>
                        <a title="MEDLEY S1903 " target="_self">
                            <p style="text-align: center;"><img src="https://www.optic2000.com/media/wysiwyg/Mag/MEDLEY_S1903_1.png" alt="MEDLEY S1903 " title="MEDLEY S1903 " style="vertical-align: middle;"></p>
                        </a>

                        <p><span style="font-size: small;"><br></span></p>
                        <p><span style="font-size: small;"><br></span></p>
                        <p style="text-align: center;"><span style="font-size: medium;">
                            <a style="background: #F9BA05; color: #fff; border: 15px solid #F9BA05;" title="Retrouvrez toute la collection MEDLEY OPTIQUE &amp; SOLAIRE ici" target="_blank">Retrouvrez toute la collection MEDLEY OPTIQUE &amp; SOLAIRE ici
                            </a></span>
                        </p>
                    </div>
                </div>

                <div class="mag_simple">
                    <div class="">
                        <div id="article_286" data-rel="article_content_286" class="mag_large mag_action">
                            <div class="zoom_mag">
                                <div class="mag_l">
                                    <img src="https://www.optic2000.com/media/magazine/HP_Look.png" alt="Stylée et colorée" height="313">
                                </div>
                                <div class="mag_r">
                                    <div class="aw_mag" style="border-right: 50px solid #d4cdbb;">
                                        &nbsp;
                                    </div>
                                    <div class="content_mag" style="background-color: #d4cdbb">
                                        <div class="cat">Look</div>
                                        <h2>Stylée et colorée</h2>
                                        <h3></h3>
                                        <div class="txt-content">
                                            Restez stylée et colorée même par zéro degré ! Misez sur les coloris pop pour un look au top cet automne-hiver.
                                            <div class="mag_readmore" onclick="">
                                                Lire l’article
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="article_content_286" class="mag_article" style="background-color: #d4cdbb">
                    <div class="mag_close">
                        ╳
                    </div>
                    <div class="txt-content">
                        <p><span style="font-size: medium;"><strong>Un look qui réchauffe</strong></span></p>
                        <p><span style="font-size: small;"><br></span></p>
                        <p><span style="font-size: small;">Cette saison, oubliez le noir et le gris et craquez pour les couleurs pop : jaune, bleu, rose, voici une palette de couleurs éclatantes pour un look plein d’énergie !</span></p>
                        <p><span style="font-size: small;"><br></span></p>
                        <p><span style="font-size: small;"></span>
                            <img src="https://www.optic2000.com/media/wysiwyg/Mag/Look_visuel.png" alt="LOOK" title="LOOK" style="vertical-align: middle;">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            if (window.location.hash != "") {
                jQuery(window.location.hash).trigger('click');
            }
        });
    </script>

</div>

{% endblock %}