#navigation-sub-menu {position: absolute; z-index: 999; width: 1024px; top: 103px; font-size: 0.8571428571428571em; /*12/14*/}
#navigation-sub-menu a, #navigation-sub-menu a:hover, #navigation-sub-menu a:visited, #navigation-sub-menu a:active {color: white;}
#navigation-sub-menu a:hover{text-decoration: underline;}
#navigation-sub-menu div {background-color: black; color: white; margin-top: 31px; min-height: 180px; padding: 5px 0; display: none;}
#navigation-sub-menu div>ul>li>ul>li {line-height: 25px;}
#navigation-sub-menu div>ul>li>span {text-transform: uppercase; margin-bottom: 10px; display: inline-block;}
#navigation-sub-menu .no-border {border: none !important;}
#navigation-sub-menu>div#navigation-sub-menu-magasins {max-width: 720px; right: 0; position: absolute;}
#navigation-sub-menu .center {text-align: center;}
#navigation-sub-menu .promobox {width: 257px;}
#navigation-sub-menu .w130 {width: 130px;}
#navigation-sub-menu div span.bottom-right {margin: 20px 10px 0 0; display: block; text-align: right;}
#navigation-sub-menu div>ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}
#navigation-sub-menu div>ul>li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-right: 1px solid #8b8c8f;
    padding: 0 5px;
    min-width: 130px;
}
#navigation-sub-menu div>ul>li.inline>ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
     flex-wrap: wrap;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
    max-width: 225px;
}