<div class="acecustomer-footer-scrolltop">
    <a href="#mainheader" class="acecustomer-footer-scrolltop-link" data-scroll="smooth">
        <span class="small-icon font-color-purple fa fa-long-arrow-up"></span>
    </a>
</div>

<div class="acecustomer-footer-container">
    <div class="acecustomer-footer-blocs">
        <a href="{{ path('lunettes', { type: 'vue' }) }}">
        <div>
            <span class="acecustomer-footer-bloc-icon big-icon fa fa-circle-o">
            </span>
            <h4 class="acecustomer-footer-bloc-title">Lunettes de vue</h4>
            <p class="acecustomer-footer-bloc-text">Il y en a pour tous les styles et toutes les vues</p>
        </div>
        </a>
        <a href="{{ path('lunettes', { type: 'soleil' }) }}">
        <div>
            <span class="acecustomer-footer-bloc-icon big-icon fa fa-sun-o">
            </span>
            <h4 class="acecustomer-footer-bloc-title">Lunettes de soleil</h4>
            <p class="acecustomer-footer-bloc-text">Incontournable sur les plages et à la montagne.</p>
        </div>
        </a>
        <a href="{{ path('lunettes', { type: 'contact' }) }}">
        <div>
            <span class="acecustomer-footer-bloc-icon big-icon fa fa-eye">
            </span>
            <h4 class="acecustomer-footer-bloc-title">Lunettes de contact</h4>
            <p class="acecustomer-footer-bloc-text">L'expertise d'un professionnel pour vous accompagner selon vos besoins.</p>
        </div>
        </a>
        <a href="{{ path('security_conseil') }}">
        <div>
            <span class="acecustomer-footer-bloc-icon big-icon fa fa-comment-o">
            </span>
            <h4 class="acecustomer-footer-bloc-title">MES CONSEILS VISION</h4>
            <p class="acecustomer-footer-bloc-text">Des conseils pratiques et un éventail de tendances à suivre.</p>
        </div>
        </a>
    </div>
</div>