<div class="brands-block-container">
    <h2 class="title brands-title">Toutes nos marques de lunettes</h2>
    <div class="brand-container">
        <div class="wrapper">
            <ul class="brands brand-slider">
                
                {% for imagePath in imagesPath %}
                    <li>
                        <a class="brand" href="">
                            <div class="brand-picto">
                                <img src="{{imagePath}}" alt="Lunettes" class="img-responsive"/>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                
            </ul>
        </div>
    </div>
</div>